{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Máquina</title>
    <style>
        .form-container {
            margin: 20px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            max-width: 600px;
        }
        h1 {
            color: #444;
            text-align: center;
        }
        form input, form button {
            margin-bottom: 15px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="form-container">
        <h1>Agregar Máquina</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar Máquina</button>
        </form>
    </div>
</body>
</html>
{% endblock %}
