{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Máquinas</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Lista de Máquinas</h1>
    <table>
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Tipo</th>
                <th>Problema</th>
                <th>Fecha de Entrada</th>
            </tr>
        </thead>
        <tbody>
            {% for maquina in maquinas %}
            <tr>
                <td>{{ maquina.cliente.nombre }}</td>
                <td>{{ maquina.tipo }}</td>
                <td>{{ maquina.problema }}</td>
                <td>{{ maquina.fecha_entrada }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'inicio' %}" class="btn btn-primary">Inicio</a>

</body>
</html>
