<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Reparaciones</title>
    <link rel="stylesheet" href="/static/css/styles.css">

</head>
<body>
    <h1>Lista de Reparaciones</h1>
    <ul>
        {% for reparacion in reparaciones %}
            <li>
                Máquina: {{ reparacion.maquina.tipo }} - Fecha: {{ reparacion.fecha }} - Total: {{ reparacion.total|default:"No calculado" }}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'lista_clientes' %}">Volver a la lista de clientes</a>
    <a href="{% url 'inicio' %}" class="btn btn-primary">Inicio</a>

</body>
</html>
